.container {
    position: relative;
    padding: 0 0.5rem;
    top: 70px;
    align-items: center;
}

.Namecontainer {
    position: relative;
    padding: 0 0.5rem;
    top: 10rem;
    align-items: center;
}

.EmptyPokmoncontainer {
    position: relative;
    padding: 0 0.5rem;
    top: 10rem;
    align-items: center;
}

.buttoncolor {
    border: none;
    background: #319795 !important;
    color: white
}

.buttoncolor:hover {
    border: none;
    background: #319795 !important;
}

.listStyle {
    background: mintcream;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid gray;
    cursor: pointer;
    text-align: center;

}

.teamPokemonsCardcontainer {
    position: relative;
    padding: 0 0.5rem;
    top: 70px;
    align-items: center;
    margin-bottom: 20px;
}

.teamPokemonsCard {
    border: 2px solid #fbfbfb;


}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
